Homework 1

In [6]:
import requests
import pandas as pd
from io import StringIO
from sqlalchemy import create_engine

# URL of the lookup CSV file
url = "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv"

# Download the file
response = requests.get(url)

# Check if the request was successful
if response.status_code == 200:
    # Read the content of the csv file into a dataframe
    df = pd.read_csv(StringIO(response.text))
    print(df.head())
else:
    print("Failed to download the file")

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [10]:
user = 'root'
password = 'root'
host = 'localhost'
port = 5432
db = 'ny_taxi'

In [11]:
engine = create_engine(f'postgresql://{user}:{password}@{host}:{port}/{db}')

In [12]:
df.to_sql(name = 'zones', con=engine, if_exists='replace', index=False)

265